{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-plusplus": "off",
    "eol-last": "off",
    "prefer-destructuring": "off",
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}