body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.main__title {
  text-align: center;
}

.textarea-wrapper {
  width: 100%;
  height: 250px;
  max-width: 80%;
  max-height: 100%;
  margin: 0 auto 20px;
}

.textarea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
}

.keyboard-wrapper {
  background: #888888;
  border: 3px solid #222222;
  margin: 0 auto;
  width: 679px;
  border-radius: 10px;
  padding: 0 5px;
}

.keyboard {
  width: 100%;
  height: 100%;
  padding-top: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.keyboard__row-1,
.keyboard__row-2,
.keyboard__row-3,
.keyboard__row-4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  padding: 0 10px;
}

.keyboard__key {
  background: #444444;
  color: #ffffff;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  line-height: 40px;
  margin-bottom: 6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.active {
  transform: scale(0.85);
}

.keyboard__key:hover {
  background-color: darkgrey;
  /* color: #444444; */
}

.keyboard-style .Enter {
  width: 100px;
}

.Tab {
  width: 70px;
}

.keyboard-style .Backspace,
.keyboard-style .ShiftLeft,
.keyboard-style .ShiftRight {
  width: 100px;
}

.keyboard-style .CapsLock {
  width: 85px;
}

.Space {
  width: 325px;
}

/* .keyboard-style .Tab,
.keyboard-style .CapsLock,
.keyboard-style .ShiftLeft,
.keyboard-style .ControlLeft,
.keyboard-style .MetaLeft,
.keyboard-style .AltLeft,
.keyboard-style .Space,
.keyboard-style .AltRight,
.keyboard-style .ArrowLeft,
.keyboard-style .ArrowDown,
.keyboard-style .ArrowRight,
.keyboard-style .ControlRight,
.keyboard-style .ShiftRight,
.keyboard-style .ArrowUp,
.keyboard-style .Enter,
.keyboard-style .Delete,
.keyboard-style .Backspace {
  background-color: #000000;
} */




.hidden {
  display: none;
}